:root{
    --pink: #fa059d;
    --dark: rgb(10, 10, 10);
    --headerColor: rgb(50, 50, 50);
    --headerHeight: 75px;
}

*{
    list-style-type: none;
    text-decoration: none;
}

/* Header */
header{
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    justify-content: space-between;
    line-height: var(--headerHeight);
    height: var(--headerHeight);
    width: 100%;
    background-color: var(--headerColor);
}

header h1{
    margin-left: 30px;
    font-size: 22px;
    color: var(--pink);
}

nav{
    margin-right: 30px;
}

nav a{
    padding: 18px 22px;
    color: white;
    transition: all 0.2s;
}

nav a:hover{
    color: var(--pink);
    font-size: 1.5rem;
}

.mobile-menu{
    display: none;
}

/* Main */
section{
    /* border: 1px solid black; */
    margin: 2rem 1rem;
}

section h2{
    text-align: center;
}

/* About */

#about img{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 25px;
}

.about-section{
    display: flex;
}

#about .description{
    padding: 25px;
}

.skills{
    width: 100%;
}

.skills img{
    position: relative;
    display: block;
    right: 0;
    height: 50px;
    margin: 10px auto;
}

/* Projects */
    .container{
        display: flex;
        flex-wrap: wrap;
        max-width: 750px;
        margin: 0 auto;
    }

    .project-container
    {
        flex-direction: column;
        
    }

    .container a{
        border: 1px solid black;
        color: black;
        flex: 1 0 0;
        margin: 5px;
    }

    a:hover{
        box-sizing: 1px 1px black;
    }

    .big-project{
        aspect-ratio: 2/1;
        flex: 1 0 500px;
    }

    .small-project{
        aspect-ratio: 3/1;
        flex: 1 0 300px;
        
    }

    .project{
       /* background-color: pink; */
       background-image: url("images/placeholder.png");
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
    }

    #p1{
        background-image: url("images/seo-optimization-challenge.png");
        background-position: top;
        
    }
    
/* Contact */

    #contact{
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        flex: 1 1 200px;
        
    }

    address{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        
    }

    address a{
        color: black;
        font-size: 2rem;
    }

    address a:hover{
        background-color: grey;
        color: white
    }

/* Footer */
footer{
    
    background-color: var(--headerColor);
    width: 100%;
    height: 75px;
}

address{
    display: flex;
    flex-wrap: wrap;
}

address a {
    flex: 1 0 0;
    text-align: center;
}



@media screen and (max-width: 980px) {
    header{
        /* background-color: blue; */
    }
}

@media screen and (max-width: 712px) {
    /* Mobile Header */
    header{
        flex-direction: column;
        height: 100px;
        line-height: 50px;
        text-align: center;
    }

    nav{
        display: flex;
        flex: 1 0 50px;
        justify-content: center;
        height: 50px;
        line-height: 0;
        margin-right: 0;
        font-size: 1rem
    }

    nav a:hover{
        color: white;
    }

    

    /* Mobile Content */
    main section{
        margin: 0;
    }

    /* Mobile About */

    #about h2{
        padding: 1rem;
        font-size: 1.5rem;
    }

    .about-section{
        display: flex;
        flex-direction: column;
    }
    
    #about img{
        border: none;
        border-radius: 0;
        width: auto;
        height: auto;
    }
    
    /* Mobile Projects */

    #p1{
        display: flex;
        flex: 1 1 200px;
        background-color: grey;
    }
    .project{
        background-color: gainsboro;
        flex: 1 0 300px;
        flex-direction: column;
        height: 100px;
    }

    .big-project{
        height: 175px;
    }

    /* Mobile Footer */
    address{
        flex-direction: column;
    }

    address a{
        width: 90%;
        margin: 10px 0;
    }
}