:root{
    --pink: #fa059d;
    --dark: rgb(10, 10, 10);
    --headerColor: rgb(50, 50, 50);
}

body{
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    line-height: 75px;
    height: 75px;
    width: 100%;
    background-color: var(--headerColor);
}

header h1{
    margin-left: 30px;
    font-size: 22px;
    color: var(--pink);
}

nav{
    margin-right: 30px;
}

nav a{
    padding: 18px 22px;
    text-decoration: none;
    color: white;
    transition: all 0.2s;
}

nav a:hover{
    color: var(--pink);
}

/* Main */
section{
    border: 1px solid black;
    margin: 2rem 1rem;
}

section h2{
    text-align: center;
}

/* About */

.about-section{
    display: flex;
}

#about div{
    border: 1px solid black;
}

.skills{
    width: 100%;
}

.skills img{
    position: relative;
    display: block;
    right: 0;
    height: 50px;
    margin: 10px auto;
}

/* Projects */
    .container{
        display: flex;
        flex-wrap: wrap;
        max-width: 750px;
        margin: 0 auto;
    }

    .project-container
    {
        flex-direction: column;
        
    }

    a{
        border: 1px solid black;
        text-decoration: none;
        color: black;
        flex: 1 0 0;
        margin: 5px;
    }

    a:hover{
        box-sizing: 1px 1px black;
    }

    .big-project{
        aspect-ratio: 2/1;
        flex: 1 0 500px;
    }

    .small-project{
        aspect-ratio: 3/1;
        flex: 1 0 300px;
        
    }
    
/* Contact */

    #contact{
        padding: 10px 0;
        display: flex;
        flex-direction: column;
    }

    address{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

/* Footer */
footer{
    background-color: var(--headerColor);
    width: 100%;
    height: 75px;
}